<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("includes/head") %>
</head>

<body>
    <%- include("includes/nav")%>
        <h1 class="title">
            <%= title %>
        </h1>
        <ul>
            <% users.forEach(user=> { %>
                <li>
                    <%= user.name %>: <%= user.age %>
                </li>
                <% }) %>
        </ul>
</body>

</html>